.kota {
	font-size: 15px;
	line-height: 28px;
	padding-left: 0 !important;
}
.custom-container {
	margin-top: 30px;
}
.custom-container a {
	padding-left: 45%;
}
.custom-container a.collapsed {
	color: #826c64;
}
.custom-container a.collapsed:visited,
.custom-container a.collapsed:hover,
.custom-container a.collapsed:focus,
.custom-container a.collapsed:active {
	color: #ff7d23;
}
.carousel ul {
	height: 90%;
}
.carousel ul >li {
	cursor: pointer;
	text-transform: uppercase;
	height: 30px;
}
.carousel ul >li p,
.carousel ul >li a,
.carousel ul a {
	color: #826c64;
}
.carousel ul >li a:hover,
.carousel ul >li a.active,
.carousel ul a:hover,
.carousel ul a.active {
	color: #ff7d23;
}
.child {
	font-size: 13px;
}
.summary {
	margin: 0 0 20px 0;
	list-style: none;
}
.summary li {
	padding-bottom: 8px;
}
.summary > li .key,
.summary > li .val {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
	min-height: 15px;
	word-wrap: break-all;
	display: block;
	color: #826c64;
}
.summary > li .key {
	width: 40%;
	margin-right: 10px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.summary > li .val {
	overflow: hidden;
	position: relative;	
}
.cast {
	margin: 0 0 20px 0;
	list-style: none;
}
.cast > li .desc {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
	min-height: 15px;
	word-wrap: break-all;
	display: block;
	color: #826c64;
}
.cast > li .desc {
	width: 100%;
	margin-right: 10px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}
.margin10 {
	margin: 10px 0;
}
.synopsis {
	font-size: 12px;
	text-transform: none;
	text-align: justify;
	line-height: 18px;
	color: #826c64;
}
.bold {
	text-transform: uppercase;
	font-weight: bold;
	color: #826c64;
}
.duration {
	text-align: center;
	margin-top: -60px;	
}
.body-menu {
	background: #d8d8da; 
	padding: 30px; 
	height: 100%;
}
.body-detail {
	background: #c4c5c7; 
	padding: 30px; 
	height: 100%;
}
ul.body-detail-menu {
	text-align: center;
	list-style: none;
}
ul.body-detail-menu li {
	display: inline;
	padding: 0 10px;
}
ul.body-detail-menu li a {
	text-decoration: none;
	font-size: 14px;
	color: #826c64;
}
#jcl-demo .carousel {
    border: 1px solid #bababa;
    border-radius: 10px;
    background-color: ghostwhite;
    float: left;
    padding-left: 10px;

    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
    #jcl-demo .carousel>ul>li>img {
        width: 150px;
        height: 118px;
        vertical-align:middle;

        /* optional */
        margin: 10px 10px 10px 0;
        border-radius: 5px;
    }

    /* Styling for text based carousel content. Only width and height are mandatory */
    #jcl-demo .carousel>ul>li>p {
        width: 130px;
        height: 98px;
        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;

    background-color: #333333;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;

    border-radius: 8px;
    float: left;
}
    #jcl-demo a.prev.disabled, #jcl-demo a.next.disabled,
    #jcl-demo a.prev.disabled:hover, #jcl-demo a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
    #jcl-demo a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
    #jcl-demo a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
    #jcl-demo a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
    }
        #jcl-demo a.prev:hover, #jcl-demo a.next:hover, #jcl-demo a.go:hover {
            background-color: #666666;
        }

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#jcl-demo .externalControl button,
#jcl-demo .imageSliderExt button {
    margin: 5px 5px 0 0;
}
#jcl-demo .externalControl a.next, #jcl-demo .externalControl a.prev, #jcl-demo .externalControl a.go,
#jcl-demo .imageSliderExt a.next, #jcl-demo .imageSliderExt a.prev, #jcl-demo .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#jcl-demo .widget img {
    cursor: pointer;
}
#jcl-demo .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#jcl-demo .vertical {
    margin-left: 170px;
}

#jcl-demo .imageSlider .carousel>ul>li>img,
#jcl-demo .imageSliderExt .carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#jcl-demo .imageSlider .carousel>ul>li>p,
#jcl-demo .imageSliderExt .carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

/* Other common styles */

.clear {
    clear: both;
}